node_modules
build
.svelte-kit
.vercel
.netlify
.wrangler
misc
__pycache__
*.py[cod]
*$py.class
*.egg-info/
dist/
*.py
*.log
backend/cache/
.venv*
.vercel-venv
backend/cards.json
backend/card-relations.json
backend/card-tags.json
frontend/static/content/cards.json
frontend/static/content/card-relations.json
frontend/static/content/card-tags.json
package-lock.json
